{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="border p-3 bg-light">
        <form method="POST" class="form-group">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-3">تسجيل الدخول</legend>
                {{form | crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info">دخول</button>

            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">إنشاء حساب جديد? <a href="{% url 'users:users-register' %}" class="ml-3">إنشاء حساب</a></small>
        </div>
    </div>
{% endblock %}